* {
    margin: 0;
    padding: 0;
}




.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    margin: 16px 120px;
}

nav .list {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;


}

nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.btn {
    color: #ffffff;
    border-radius: 4px;
    padding: 12px 16px;
    border: none;
    background-color: #30B868;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}

.btn:hover {
    background-color: yellowgreen;
}

.banner .icon {
    padding: 8px 12px;
    border: none;
    border-radius: 1000px;
    background-color: #ffffff;
    color: #30B868;
    display: inline-flex;
    gap: 10px;
}

.clr-icon :hover {
    background-color: black;


}

.ring {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #6fd19c;

}





.banner {
    background-image: url("../assets/hero-bg.png");
    max-width: 1600px;
    height: 674px;

    background-repeat: no-repeat;
}

.banner .main-asses {
    max-width: 1360px;
}

.first {
    color: #ffffff;
}

.second {
    color: #30B868;
}

.para {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 16px 295px 32px 295px;
    text-align: center;

}

.trans-btn {
    color: #ffffff;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    border: 1px solid white;

    max-width: 164px;
}

.trans-btn:hover {
    background-color: #1e40af;
}

.main-asses {
    align-items: center;
    text-align: center;
    padding: 70px 120px 134px 120px;

}

.banner-info {
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
}



.solution-part {
    padding: 120px;
}

.picture-big {
    border-radius: 12px;
    border: 0;
}

.the-solution {
    margin: 120px 0 60px 120px;
}

.middle-section {
    display: flex;
    justify-content: space-between;
}


.check-list {
    display: flex;
    gap: 6px;
}

.power-list li {

    margin-top: 40px;
    margin-bottom: 16px
}

.starting {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
}

.solution-text {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin: 16px auto;

}

.Capture {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.extra {
    padding: 2px 120px 120px 120px;
    text-align: center;
}

.extra .extra-section {
    border-radius: 12px;
    padding: 80px 40px;
    background-color: rgba(247, 246, 242, 1);
}

.extra .extra-section .extra-title {
    color: #001931;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
}

.extra .extra-section .extra-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.extra .extra-section .footer-para {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}

footer .footer-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 85%;
    max-width: 1360px;



}

#foot {
    padding: 120px 120px 30px 120px;
    background-color: rgba(0, 25, 49, 1);
}

footer .footer-navi {
    width: 85%;
    max-width: 1360px;


}

.footer-line {
    border: none;
    height: 1px;
    background-color: rgba(229, 231, 235, 1);
    margin: 16px 0;

}

.real-footer {
    text-align: center;
}

.footer-nav-list,
.social-list,
.s-list {
    text-decoration: none;
    list-style: none;
}

.social-wri {
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
}

.real-footer p {
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
}

.s-list .imon {
    max-width: 20px;

}

.s-list {
    display: flex;
    gap: 5px;
    text-decoration: none;
    list-style: none;
}

.check-pic {
    max-width: 20px;
    max-height: 20px;

}


#think {
    padding-top: 40px;
}

#think .think-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

.think-heading {
    margin: 0 auto;
    text-align: center;
}

.think-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.think-box .k-card {
    padding: 24px;
    max-width: 322px;
    box-shadow: 0 0 8px 0 rgba(98, 115, 130, 0.952);
}

.think-box .k-card div {
    max-width: 60px;
    margin-bottom: 16px;

}

.think-box .k-card h3 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;

}

.think-box .k-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    align-items: center;

}

#think .think-container .header-para {
    margin-bottom: 40px;
}



.back-logo {
    background-color: #F95555;
    text-align: center;
    align-items: center;
    border-radius: 1000px;
    max-width: 60px;
    max-height: 60px;
}

.think-box {
    text-align: center;
}

.back-logo img {
    padding: 1.5px 2.5px;
    max-width: 32px;
    max-height: 32px;
}

.back-logo {
    width: 60px;
    height: 60px;
    background-color: #F95555;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    margin: 0 auto 16px;
}


.two-btn {
    display: flex;
    text-align: center;
    justify-content: center;

    gap: 20px;
}

.aro-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 0 auto;

    padding: 14px 28px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 16px;
}




footer .aro-btn {
    justify-content: center;
    align-items: center;
}



.aro-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 12px 20px;
    border-radius: 4px;
    padding: 12px 16px;

    background-color: green;
    color: #fff;
    border: none;


}

.aro-btn:hover {
    background: #000;
}


.footer-navi {
    margin: 0 0;
}

.social-list,
social-wri,
imon {
    align-items: right;
}

#foot {
    margin: 0;
}

.footer-nav-list {
    width: 85%;
    max-width: 1160px;


}

.footer-navi {
    margin: 0 auto;
}

.last-standing {
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 1160px;
    list-style: none;
}

.imon {
    max-width: 20px;
    max-height: 20px;
    list-style: none;
}

.two-btn {
    display: flex;
    align-items: center;
    gap: 16px;
}

.aro-btn,
.trans-btn {
    display: flex;
    align-items: center;
    gap: 10px;

}

.two-btn {
    display: flex;
    gap: 16px;
}

.aro-btn,
.trans-btn {
    width: 260px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
}

.aro-btn img,
.trans-btn img {
    width: 26px;
    height: 26px;
}

.aro-btn p,
.trans-btn p {
    margin: 0;
}


.change-style {
    display: flex;
    list-style: none;
    gap: 10px;

}

.change-style2 {
    list-style: none;
}

.play-trans {
    max-width: 40px;
    max-height: 40px;
}

.btn-playing {
    display: flex;

}

.last-both-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.last-both-button1 {
    display: flex;
    gap: 10px;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    background-color: #30B868;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    padding: 18px 12px;
}

.last-both-button2 {
    display: flex;
    gap: 7px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 18px 12px;
    border: 1px solid white;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: transparent;


}

.last-both-button1:hover {
    background-color: #000000;
}

.last-both-button2:hover {
    background-color: #000;
}

.comon-class:hover{
    
    background-color: #30B868;
    border-radius: 5px;
}
